.accordion {
    background-color: rgb(233, 232, 230);
    padding: 10px;
    cursor: pointer;
    border: none;
    width:100%;
    text-align: left;
    font-size: 15px;
}
.active, .accordion:hover {
    background-color: rgb(137, 124, 124);
}

.text {
    display:none;
    overflow: hidden;
    background-color: white;
}
.accordion:after{
    content:'\02795';
    float: right;
}
.active:after{
    content: '\2796';
}